body {
  background-image: url('/images/banana-background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
 
}

h1 {

  text-align: center;
}

textarea {
  font-size: larger;
  width: 50%;
  height: 16vh;
  display: block;
  margin: auto;
  padding: 1rem;
  border-color: black;
  border-radius: 1rem;
}

#btn-translate {
  font-size: larger;
  font-weight: bolder;
  background-color: yellow;
  display: block;
  margin: 2rem 30rem;
 
  padding: 1rem;
  position: relative;
  border-radius: 1rem;
  
}

.translation-div {
  font-size: larger;
  font-weight: bolder;
  margin-left: 30rem;
  margin-bottom: 1rem;
  vertical-align: top;
}

#output-text {
  background-color:rgba(238, 233, 221, 0.9);
  font-size: larger;
  width: 50%;
  height: 16vh;
  margin: auto;
  padding: 1rem;
  border-color: black;
  border-radius: 1rem;
}

#footer-txt{
  font-size: larger;
  font-weight: bolder;
  text-align: center;
  margin-top: 7rem;
  padding: 3rem;
}